# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Car Sharing/*
!/Car Sharing/task/
/Car Sharing/task/*
!/Car Sharing/task/src
!/Car Sharing/task/build.gradle
